<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Austin Guide</h2>
                <hr class="primary">
                <h3>
                    If you are not from Austin and have some spare time before the wedding, we recommend you
                    try some of the local attractions.  Austin has a rich cultural history, with several well known
                    restaurants, attractions, and parks. Below are some suggestions we have for you to try.
                </h3>
                <br>
                <dl class="dl-horizontal lead">
                    <dt>Food</dt>
                    <dd>
                        Austin has a lot of local restaurants we highly recommend you try. The two cuisines Austin is most
                        famous for are Bar-B-Que (BBQ) and tacos.  For BBQ, <a href="https://www.terryblacksbbq.com"><b>Terry Black's</b></a> is an excellent option (order beef
                        fatty brisket), just be sure to get there 10 minutes before it opens.  We do not recommend the famous Franklin's BBQ because of the long line.
                        For tacos, <a href="https://www.tacodeli.com"><b>Tacodeli</b></a> has good breakfast tacos and <a href="https://torchystacos.com">Torchys Tacos</a> has excellent street
                        tacos for lunch.
                        <br><br>
                        A few other famous places are <a href="https://www.hopdoddy.com">Hopdoddy</a> for burgers (can be an hour wait), <a href="https://uchiaustin.com">Uchi</a> and <a href="https://uchikoaustin.com">Uchiko</a> for high-end Asian-Fusion,
                        the <a href="http://www.oasis-austin.com">Oasis</a> on Lake Travis (has very nice views of the sunset but can be an hour wait), and the <a href="https://heycupcake.com">Hey Cupcake</a>
                        food truck is popular for desert.
                        <br><br>
                        For good coffee, we recommend <a href="https://caffemedici.com">Cafe Medici</a> and <a href="https://www.houndstoothcoffee.com">Houndstooth</a>.
                        <br><br>

                    </dd>
                    <dt>Attractions</dt>
                    <dd>Besides food, Austin also has some local attractions we recommend.
                        <br><br>
                        There are a few nice museums close to the University of Texas campus.  The <a href="https://www.thestoryoftexas.com">Bob Bullock Texas History</a> museum
                        details the history of Texas.  There is the <a href="https://www.hrc.utexas.edu">Harry Ransom Center</a> (free admission) that has a Gutenberg Bible
                        (the first book very printed) and the oldest photograph.  The <a href="https://blantonmuseum.org">Blanton Mesuem of Art</a> also has some nice art work.
                        <br><br>
                        <a href="https://drafthouse.com/austin">Alamo Drafthouse</a> is the local movie theatre and allows you to order dinner during your movie.
                        <br><br>
                        If you are interesting in authentic Texas Dancing, the <a href="https://www.brokenspokeaustintx.net">Broken Spoke</a> is a local Texas themed two-step dance bar with live country music.
                        <br><br>
                    </dd>
                    <dt>Parks/Trails</dt>
                    <dd>There are several outdoor sites around the greater Austin area. Zilker park is a large park across
                        the river from downtown Austin.  Close by is <a href="http://www.austintexas.gov/department/barton-springs-pool">Barton Springs</a>, a natural pool with very cold water
                        (below 68&degF/20&degC).  Lady Bird Lake is also popular for stand-up-paddle boarding and canoeing.
                        <br><br>
                        For trails, many residents like to walk along Lady Bird Trail close to downtown Austin.  There are
                        also several "Green Belts" that offer shady hiking trails.  For a nice view of the Colorado River,
                        <a href="https://www.tripadvisor.com/Attraction_Review-g30196-d144295-Reviews-Mount_Bonnell-Austin_Texas.html">Mount Bonnell</a> is an easy hike.
                    </dd>
{#                    <dt>Our Personal Suggestion</dt>#}
{#                    <dd>#}
{#                        If you goal is to maximize your "Austin Experience", I would recommend the following:#}
{#                        1. Breakfast tacos from Tacodeli on Congress Ave. (30 min)#}
{#                        2. Coffee from Cafe Medici or Houndstooth on Congress Ave. (20 min)#}
{#                        3. Take a nice walk along Lady Bird Trail. (1 hour)#}
{#                        4. Stand Up Paddle board or canoe on Lady Bird Lake (2 hours)#}
{#                        5. Show up at Terry Black's BBQ at 11:40am. Order fatty brisket (1/2 pound per person is a good amount) (1 hour).#}
{#                        6. Swim at Barton Springs or hike to Mt. ...#}
{#                        7. Take a rest.#}
{#                        7. Go to Alamo Drafthouse for dinner and a movie.#}
{#                        8. Finish off the day with#}
{##}
{#                    </dd>#}
                </dl>
            </div>
        </div>
    </div>
</section>
