<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Event Info</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>The <a href="https://goo.gl/maps/fv89YRHEBdN2">LBJ Wildflower Center</a> is located in South Austin off of Mopac (loop 1)</p>
            <p>
                From the Austin Airport, the drive is about 30 to 40 min.
            </p>

            <hr class="primary">

        </div>
    </div>
</div>
